.header {

  height: 60px;
  min-width: 280px;

  background-color: white;
  
  overflow: hidden;
  transition: height .5s ease-in-out;
}

.nav-bar {
  height: 60px;
  transition: height .3s ease-in-out;
}

.show-mobile-nav-bar {
  height: 204px;
}

.nav-bar a {
  color: black !important;
  font-weight: 300;
  letter-spacing: .25rem;
  display: inline-block;
  font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

.mobile-nav-bar {
  height: 100%;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn { 
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: .25rem;
}

.menu-btn-burger-icon {
  width: 25px;
  height: 3px;
  background-color: rgb(32, 32, 32);
  transition: visibility 0s, transform .3s ease-in-out, width .3s ease-in-out;
}

.menu-btn-burger-icon::before,
.menu-btn-burger-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: rgb(59, 59, 59);
  border-radius: 5px;
  transition: transform .3s ease-in-out;
}

.menu-btn-burger-icon::before {
  transform: translateY(-10px);
}

.menu-btn-burger-icon::after {
  transform: translateY(10px);
}

.menu-btn-open .menu-btn-burger-icon {
  width: 0;
  background: transparent;
}

.menu-btn-open .menu-btn-burger-icon::before {
  transform: rotate(45deg) translate(-12px, 12px);
}

.menu-btn-open .menu-btn-burger-icon::after {
  transform: rotate(-45deg) translate(-12px, -12px);
}

.mobile-menu-link {
  width: 100%;
  background-color: whitesmoke
}

.menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link-item {
  width: 100%;
  height: 48px;
}

.menu-link-item a {
  box-sizing: border-box;
  line-height: 47px;
  width: 100%;
  font-weight: 300;
  font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .25rem;
  color: black !important;
  text-transform: capitalize;
  text-align: center;
  border-bottom: 1px solid rgb(189, 189, 189);
}

.menu-link-item a:hover {
  background-color: white;
}

.nav-link {
  /* min-width: 685px; */
  visibility: hidden;
  display: none;
}

.nav-link .nav-link-item {
  margin-left: 2rem;
}

.nav-logo {
  margin-left: 0 !important;
}

.nav-logo {
  margin: 0;
  padding: 0;
  flex-grow: 10 !important;
}

.text-logo {
  color: black !important;
  font-size: large;
  font-weight: bolder !important;
  font-style: italic;
  text-transform: capitalize;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .header {
    height: 60px;
  }


  a:hover,
  .nav-active {
    padding-bottom: .25rem;
    border-bottom: 1px solid black;
  }

  .mobile-nav-bar {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .mobile-menu-link {
    height: 0px;
    width: 0px;
    visibility: hidden;
    display: none;
  }

  .nav-link {
    visibility: visible;

    height: 100%;
    width: 90%;

    margin-right: auto;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-link .nav-link-item {
    margin-left: 1rem;
  }

  .nav-link a {
    letter-spacing: .25rem;
  }
}

/** for nav link **/
@media(min-width: 576px) and (max-width: 650px) {

  .nav-link .text-logo {
    letter-spacing: .25rem;
  }

  .nav-link .nav-link-item {
    margin-left: 1rem;
  }

  .nav-link a {
    letter-spacing: .15rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

  .nav-bar {
    height: 100px;
  }

  .nav-link .nav-link-item {
    margin-left: 3rem;
  }

  .nav-link a {
    font-size: 1.1rem !important;
  }
}